.symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: yellow;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  margin: 0 auto;
  text-align: center;
}

.actionButton {
  border-radius: 25px;
  width: auto;
  height: 40px;
  text-align: center;
}